body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #322D27;
    line-height: 1;
    background-color: #AAAAAE;
}

.tausta {
    padding: 1px;
    background-color: #E2E1EB;
}