body {
    margin: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #426E6F;
    line-height: 1.3;
    background-color: #426E6F;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
}

footer {
    text-align: center;
    font-size: 13px;
}

.sisalto {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #FBFFFF;
    border-radius: 10px;
    border: solid 5px #DDE9E9;
    box-shadow: 0 3px 8px rgba(0,0,0,0.50)
}

.tausta {
    padding: 10px;
    background-color: #DDE9E9;
    border-radius: 15px;
    line-height: 1.3;
    border: solid 1px #d3dede;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15)
}

.paaotsikko {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #426E6F;
}

.huomio {
    padding: 7px 8px;
    background-color: #e8f4f4;
    border-left: 6px solid #426E6F;
    border-right: 6px solid #426E6F;
}